.selector-for-some-widget {
  box-sizing: content-box;
}

.btn-primary {
  border: 1px solid #7c9eb2;
  color: #7c9eb2;
  text-decoration: none;
  background-color: transparent;
}

.btn-primary:hover {
  border: 1px solid #7c9eb2;
  background-color: #7c9eb2;
  text-decoration: none;
}

.btn-primary:focus {
  border: 1px solid #7c9eb2;
  background-color: #7c9eb2;
  text-decoration: none;
}

.frame {
  height: 500px;
  background-image: url(../images/1920_bg_banner.jpg);
}

.slogan {
  display: flex; /* ★ */
  align-items: center; /* ★ */
  max-width: 800px;
  height: 100%;
  width: 60%;
  margin: auto;
  color: #fff;
  text-align: center;
  justify-content: center;
}

.dash {
  width: 40px;
  border: 1px solid white;
  margin: 15px auto 15px auto;
}

.line {
  width: 100%;
  border: 1px solid white;
  opacity: 0.5;
  margin-top: 40px;
}

.space {
  height: 100px;
}

.banner {
  position: relative;
  margin-top: 75px;
  height: 400px;
  background-image: url(../images/banner-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.banner .banner-text {
  position:absolute;
  width: 100%;
  max-width: 1080px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tag {
  height: 25px;
  width: 2px;
  border: 2px solid #001f4e;
}

.navbar .mobile-menu {
  display: none;
}

.figure {
  width: 100%;
}


@media screen and (max-width: 980px) {
  .navbar .nav {
    display: none;
  }

  .navbar .mobile-menu {
    display: block;
    position: absolute;
    right: 12%;
  }
}

/*footer聯絡資訊*/
footer {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.footer .content {
  width: fit-content;
  margin: 0 auto;
}

.contact {
  color: #fff;
}

.contact:hover{
  color: #fff;
  text-decoration: none;
}